[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tox = "*"
pytest = "*"
pytest-cache = "*"
pytest-cov = "*"
"pytest-pep8" = "*"
pytest-watch = "*"
coveralls = "*"
selenium = "==3.141.0"
Pillow = "==9.0.0"
pip = "==18.1"

[dev-packages]

[requires]
python_version = "3.7"
